* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gusset {
    display: flex;
        align-items: center;
        justify-content: center;
    height: 200px;
    border: 1px solid black;
}
    .col-1 > .gusset::after {
        content: "col 1";
    }
    .col-2 > .gusset::after {
        content: "col 2";
    }
    .col-3 > .gusset::after {
        content: "col 3";
    }
    .col-4 > .gusset::after {
        content: "col 4";
    }
    .col-5 > .gusset::after {
        content: "col 5";
    }
    .col-6 > .gusset::after {
        content: "col 6";
    }
    .col-7 > .gusset::after {
        content: "col 7";
    }
    .col-8 > .gusset::after {
        content: "col 8";
    }
    .col-9 > .gusset::after {
        content: "col 9";
    }
    .col-10 > .gusset::after {
        content: "col 10";
    }
    .col-11 > .gusset::after {
        content: "col 11";
    }
    .col-12 > .gusset::after {
        content: "col 12";
    }